#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-d78cecb6],h2[data-v-d78cecb6]{font-weight:400}ul[data-v-d78cecb6]{list-style-type:none;padding:0}li[data-v-d78cecb6]{display:inline-block;margin:0 10px}a[data-v-d78cecb6]{color:#42b983}
/*# sourceMappingURL=app.033d88b91a66caaaadd1ae84fd4e2e2a.css.map */